Package: liveinstall
Version: 1.1.6
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Depends: subversion, git, editfstab, initialise-linux
Section: myown
Priority: optional
Description: liveinstall installs subversion, git, editfstab, initialise-linux and setsup the chroot environment. Installed by makelive.
